@model LaptopShopMVC.Models.PHIEUNHAPHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<button class="btn btn-info" style="width: 120px">
    @Html.ActionLink("Back", "Index", null, new { style = "color: white;" })
</button>

<div style="text-align:center">
    <h4>Chi Tiết Phiếu Nhập Hàng</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            Tên Nhân Viên: @Html.DisplayFor(model => model.NHANVIEN.TENNHANVIEN)
        </dd>

        <dd>
            Ngày Nhập Hàng: @Html.DisplayFor(model => model.NGAYNHAPHANG)
        </dd>

        <dd>
            Tổng Tiền: @Html.DisplayFor(model => model.TONGTIEN)
        </dd>

    </dl>
</div>