@model LaptopShopMVC.Models.DANHGIA

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<button class="btn btn-info" style="width: 120px">
    @Html.ActionLink("Back", "Index", null, new { style = "color: white;" })
</button>

<div style="text-align:center">
    <h4>Chi Tiết Đánh Giá</h4>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Khách Hàng: @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dt>

        <dt>
            Tên Sản Phẩm: @Html.DisplayFor(model => model.SANPHAM.TENSANPHAM)
        </dt>

        <dt>
            Nội Dung: @Html.DisplayFor(model => model.NOIDUNG)
        </dt>

    </dl>
</div>

