@model LaptopShopMVC.Models.TAIKHOANKHACHHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<button class="btn btn-info" style="width: 120px">
    @Html.ActionLink("Back", "Index", null, new { style = "color: white;" })
</button>

<div style="text-align:center">
    <h4>Chi Tiết Tài Khoản Khách Hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Khách Hàng: @Html.DisplayFor(model => model.KHACHHANG.TENKHACHHANG)
        </dt>

        <dt>
            Tên Đăng Nhập: @Html.DisplayFor(model => model.TENDANGNHAP)
        </dt>

        <dt>
            Mật Khẩu: @Html.DisplayFor(model => model.MATKHAU)
        </dt>

    </dl>
</div>

